TrainerManager/machineList.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TrainerManager">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Trainer1">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="PC">
								<xs:complexType>
									<xs:attribute name="ipAddress" type="xs:string" use="required" />
									<xs:attribute name="status" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Trainer2" type="xs:string" />
				<xs:element name="Trainer3" type="xs:string" />
				<xs:element name="Trainer4" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>